 <mat-card>
  <mat-card-title>
    Add Task
  </mat-card-title>
 <mat-expansion-panel>
   <mat-expansion-panel-header>
      <mat-panel-title>
        Task Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" placeholder="Add title" [(ngModel)]="task.title" name="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Add Description" [(ngModel)]="task.description" name="description">
      </mat-form-field>
      <button mat-raised-button type="submit">Kaydet</button>
    </form>
    </mat-expansion-panel>
    </mat-card>
  <mat-divider></mat-divider>

